.ant-btn-primary {
  color: #fff;
  background: black !important;
  border-color: black !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  margin: 5px 5px !important;
  width: 120px !important;
  border-radius: 5px !important;
}
