:root {
  --app-color: black;
  --app-color-light: black;
  --app-danger-color: #ff3333;
  --app-tabs-background: #e7a671;
  --app-nav-shadow-color: rgb(44, 42, 42);
  --app-label-color: #aaaaaa;
  --app-nav-heading-color: #555555;
  --app-nav-dropdown-color: #333333;
  --app-dashboard-small-title-color: #777777;
  --app-dashboard-title-color: #999999;
  --app-white-color: white;
  --app-sidenav-color: #3c4858;
  --app-table-data-color: #000000de;
  --app-border-color: #d7dbdd;
  --app-header-color: white;
  --app-lightgrey: lightgrey;
  --app-box-shadow-color: #999898;
  --app-gradient-top: linear-gradient(
    to top,
    black,
    rgb(37, 36, 36),
    rgb(58, 58, 58)
  );
  --app-gradient-right: linear-gradient(to right, #ffa033, #ff8237, #f58020);
  --app-white: #ffffff;
  --app-red: #ff0000;
  --app-1b1b34: #1b1b34;
  --app-77778f: #77778f;
  --app-ebf0f3: #ebf0f3;
  --app-e0e1e3: #e0e1e3;
  --app-4c4c6d: #4c4c6d;
  --app-f7fafc: #f7fafc;
  --app-d9d9d9: #d9d9d9;
  --app-ff6c4f: #ff6c4f;
  --app-f1c2a2: #f1c2a2;
  --app-9b9bad: #9b9bad;
  --app-e1e1f5: #e1e1f5;
  --app-ffa033: #ffa033;
  --app-f5e4d9: #f5e4d9;
  --app-bbbbc6: #bbbbc6;
  --app-ff764402: #ff764402;
  --app-ff9835: #ff9835;
  --app-4b4c6d: #4b4c6d;
  --app-fff8f3: #fff8f3;
  --app-ccc: #ccc;
  --app-fbf1ea: #fbf1ea;
  --app-f5f5f5: #f5f5f5;
  --app-purple-bg: #b15eff;
  --app-purple-dark: #9f54e6;
  --app-green-bg: #61c50f;
  --app-green-dark: #57b10d;
  --app-yellow-bg: #ffe400;
  --app-yellow-dark: #e6ce00;
  --app-red-bg: #ff093d;
  --app-red-dark: #e60837;
  --app-blue-bg: #0048ff;
  --app-blue-dark: #0041e6;
  --app-orange-dark: #e67531;
  --app-skyblue-bg: #18bbff;
  --app-skyblue-dark: #15a8e6;
  --app-aquamarine-bg: #00d78d;
  --app-dcdcdc: #dcdcdc;
  --app-f5222d: #f5222d;
  --app-e8e8e8: #e8e8e8;
  --dark-6: rgba(27, 27, 52, 0.06);
  --app-fdfdfe: #fdfdfe;
  --app-f0f0f2: #f0f0f2;
}
