.header-div-style {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7ffb8;
  border-radius: 8px;
}

.title-style {
  font-size: 16px;
  color: red;
  font-weight: 700;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 2px;
  padding-left: 2px;
}

.marquee-text-style {
  color: red;
}

.details-div-style {
  height: 60px;
  min-width: 120px;
  border-radius: 100px;
  border: 4px dotted red;
  background-color: #f7ffb8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.details2-div-style {
  /* height: 200px; */
  border-radius: 20px;
  border: 2px solid blue;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: justify;
  margin-top: -5px;
}

.details3-div-style {
  /* height: 200px; */
  border-radius: 20px;
  border: 2px solid blue;
  background-color: #fcdfff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn-style {
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid red;
}

.result-div-style {
  border-radius: 20px;
  border: 5px double yellow;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.result-div-component-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-family: "Times New Roman", Times, serif;
}

marquee {
  /* font-family: "Times New Roman", Times, serif; */
  font-weight: 700;
  font-size: 14px;
}

.custom-font {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-alignment {
  display: flex;
  flex-direction: row;
}

.site-shadow {
  text-shadow: 1px 1px red;
}

@media (max-width: 340px) {
  .title-style {
    font-size: 12px;
  }

  .btn-alignment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
