@import "../themes/colorVariables.css";
$primary-color: var(--app-color);

@mixin sidebarTab {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

@mixin sidebarBtnText {
  line-height: 30px;
  font-size: 14px;
  margin: 0;
  padding-top: 3px;
}

.home-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebarBtn {
  @include sidebarTab();
  margin: 0 auto;
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.sidebarNestedBtn {
  @include sidebarTab();
  background-color: transparent;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.sidebarNestedBtnSelected {
  @include sidebarTab();
  background-color: $primary-color;
  box-shadow: 0 12px 20px -10px rgba(232, 41, 83, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 145, 224, 0.2);
  margin: 4px;
  padding: 8px;
  border-radius: 4px;
}

.sidebarBtnSelected {
  @include sidebarTab();
  background-color: $primary-color;
  box-shadow: 0 12px 20px -10px rgba(232, 41, 83, 0.28),
    0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 145, 224, 0.2);
  margin: 0 auto;
  padding: 8px;
  border-radius: 4px;
}

.sidebarBtnIcon {
  width: 30px;
  margin-right: 15px;
  margin-left: 6px;
}

.breadIcon {
  margin-right: 3px;
  margin-left: 3px;
}

.sidebarBtnTextSelected {
  @include sidebarBtnText();
  color: white;
}

.sidebarBtnText {
  @include sidebarBtnText();
  color: #3c4858;
}

.sidebarBackground {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.sidebarBackground:after {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: #ffffff;
  opacity: 0.93;
}

.MuiListItem-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.MuiListItem-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 8px 0 !important;
}

/* box shadow for sidebar */
.MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}

// breadcrumb
.ant-breadcrumb {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
}

.ant-breadcrumb-link {
  color: #222222;
  margin: 0 2px;
  font-size: 18px;

  &:hover {
    color: #222222;
    text-decoration: none;
  }
}
.ant-breadcrumb-separator {
  color: #222222;
  margin: 0 2px;
  font-size: 21px;
}

.ant-input {
  width: 30%;
  border-radius: 50px;
  padding: 10px;
}

.card-body {
  margin-top: 1.25rem;
}

.justifyTerminalTab {
  justify-content: space-between;
}

.paid {
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    color: #fff;
    background: green !important;
    border-color: green !important;
  }

  .ant-btn-primary {
    color: #fff;
    background: green !important;
    border-color: green !important;
  }
}

.pay {
  .action-button-inline-style.ant-btn-primary {
    color: #fff;
    background: var(--app-color);
    border-color: var(--app-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  .action-button-inline-style.ant-btn-primary:hover,
  .ant-btn-primary:focus {
    color: #fff;
    background: var(--app-color-light);
    border-color: var(--app-color-light);
  }
}
